#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden; 
}

html{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}